# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Gedit file locks
*~

# Visual Studio compiled files - we can't use file extensions because VS uses .obj instead of .o
Code/VS\ Files/Debug/*
Code/VS\ Files/Release/*